* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  background-color: black;
  width: 563px;
  height: 1018px;
  color: white;
  padding: 20px;
  margin: 30px auto;
  border-radius: 30px;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
}

.button {
  background-color: #333;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 45px;
}

.button:active,
.button:focus {
  filter: brightness(140%);
}

.function {
  color: black;
  background-color: #a5a5a5;
}

.operator,
.equal {
  background-color: #f1a33c;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 250px;
  border-radius: 55px;
  justify-content: flex-start;
  padding-left: 45px;
}

.primary-display {
  font-size: 110px;
  font-weight: 500;
  text-align: right;
  margin-bottom: 20px;
  height: 130px;
}

.secondary-display {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 20px;
  text-align: right;
  color: #a5a5a5;
  height: 70px;
}

#digitalClock {
  font-size: 1.5em;
}
