<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h2>Weather App</h2>

    <form action="">
        <input type="text" name="name" id="">
        <input type="submit" value="Add">
    </form>

    
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
        
    
    {% for city in city_data %}
        {{city.city}}
        <br><hr>
        {{city.temp}}
        <br><hr>
        <img src="http://openweathermap.org/img/wn/{{ city.icon }}.png" alt="icon">
        {{city.desc}}
        <br>
        <button><a href="{% url 'delete' city.city.id %}">Delete</a></button>
        <br><hr>
    {% endfor %}
        
</body>
</html>